/*
 * Normal CPUAPP-RAM ends at offset 0x6FC00.
 * The following 0x400 bytes will be reserved for the shared memory for benchmarking
 */
&sram0_image {
	#address-cells = <1>;
	#size-cells = <1>;

	reg = <0x00000000 0x0006FC00>;
	ranges = <0x00000000 0x00000000 0x0006FC00>;
};

&sram0 {
	benchmark_shared_memory: benchmark_shared_memory@6fc00 {
		reg = <0x0006FC00 0x00000400>;
	};
};